*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}
nav{
    height: 80px;
    width: 86vw;
    display: flex;
    background-color: aqua;
    padding-right: 180px;
    
    .nav-logo{
        height: 100px;
        width: 20%;
        background-image: url("/logo.png");
        background-size: contain;
        background-repeat: no-repeat;

        
    }
    .menubar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        ol{
            list-style-type: none;
            display: flex;
            width: 80%;
            height: 20px;
            margin-left: 500px;
            margin-right: 60px;
            
            
            a{
                text-decoration: none;
                background-color: white;
                width: 100px;
                border-radius: 5px;
                height: 40px;
                padding: 5px;
                margin: 20px;
            }
            
        }
        ol a:hover{
            background-color:black;
            color:white;
        }
        button{
            width:fit-content;
            height: 40px;
            font-weight: 600;
            font-size: medium;
            margin-left: 150px;
            .button{
                border: 2px solid green;
                background-color: rgb(178, 208, 235);
                color: whitesmoke;
                padding: auto;
                border-radius: 5px;
            }
        }
    }
    
}
header{
    height: 400px;
    width: 100vw;
    background-image: url("/header-background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-slider{
        height: 250px;
        width:70vw;
        position: absolute;
        .slider{
            height: 250px;
            width:70vw;
            animation: slider-animation 9s step-end 1s infinite normal;
        }
        @keyframes slider-animation {
           0%{
            background-image: url("/slider-img1.jpg");
           }
           50%{
            background-image: url("/slider-img2.jpg");
           } 
           100%{
            background-image: url("/slider-img3.png");
           }           

        }
    }
    .info{
        align-self: last baseline;
        background-color: adjust-hue($color: #00000058, $degrees: 0);
        margin-bottom: 6px;
        padding: 5px;
        box-shadow: 1px 1px 0.5px white;
        p{
            color: white;
            word-spacing: 2px;
            text-shadow: 1px 1px 5px green;
        }
    }
}
main{
    display: grid;
    height: 400px;
    width: 100vw;
    margin-bottom: 10px;
    background-color: orange;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    border-top:2px solid red ;
    border-bottom: 2px solid red;
    .main-title{
        display: flex;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.32);
        .title{
            h1{
                color:blue;
            }
        }
        
        h5{
            color:green;
        }
        
        .img-contant1{
            height: 200px;
            background-image: url("/img-content1.jpg");
            background-size: cover;

        }
        .img-contant2{            
            height: 200px;
            background-image: url("/img-content2.jpg");
            background-size: cover;
        }
        
        .img-contant3{
            height: 200px;
            background-image: url("/img-content3.jpg");
            background-size: cover;
        }
    }
}
.main-speech{
    height: 100px;
    width: 100vw;
    background-color: black;
    margin-bottom: 10px;
    h2{
        color: white;
    }
    h4{
        color:white
    }
}
.mail-box{
    height: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid red ;
    border-bottom: 2px solid red;
    .mailbox-pic{
        background-image: url("/mail-icon.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 90px;
        width: 50%;
        margin-left: 500px;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.main-footer{
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:10px;
    border-bottom: 2px solid red;
    .latest-news{
        text-decoration: underline;
        background-color: gainsboro;
    }
    .topic{
        text-decoration: none;
    }
    .pages{
        text-decoration: underline;
        background-color: gainsboro;
    }
    .topic{
        text-decoration: none;
    }
    .archives{
        text-decoration: underline;
        background-color: gainsboro;
    }
    .topic{
        text-decoration: none;
    }
    
}
  
